# Virtual environments
tf_macos_env/
.venv/
env/
venv/
.idea/
images/
sample/

# Pickle files (too large for GitHub)
embeddings.pkl

# Mac system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# VSCode settings
.vscode/
